<%- await include("./views/partials/header.ejs", { user: user, books: books }) %>

<div class="container">

    <div id="carouselExampleControls" class="carousel carousel-fade slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/03edit.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Meet people like you</h5>
                <p>Find like-minded people and get to know your reads even before reading them.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/01edit.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Forming a cohesive community</h5>
                <p>Get in touch with our vast and diverse community.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/02edit.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Share your views</h5>
                <p>Free platform for everyone to share and publish their views.</p>
            </div>  
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
    </div>

    <a href="/new" class="btn btn-lg btn-outline-primary addNew-btn">Contribute to Bookworm</a>

    <div class="row">

          <% books.forEach((book)=>{ %>
            <div class="col col-lg-3">
              <div class="card index-element">

                    <img src="<%= book.image %>" alt="">
                    <div class="text-title">
                        <a href='/books/<%= book._id["$oid"] %>' class="book-link">
                           <p><%= book.name %></p>
                           <span class="link-glyph"><i class="far fa-question-circle"></i> Know more</span>
                        </a>
                    </div>      
              </div>
          </div>
          <% }); %>
          <!-- <div class="col col-lg-3">
              <div class="card index-element">
                 <img src="https://images-na.ssl-images-amazon.com/images/I/91VokXkn8hL.jpg" alt="">
                 <div class="text-title">
                    <a href="#">Rich Dad poor Dad</a>
                 </div>      
              </div>
          </div>
          <div class="col col-lg-3">
              <div class="card index-element">
                 <img src="https://images-na.ssl-images-amazon.com/images/I/71uAI28kJuL.jpg" alt="">
                 <div class="text-title">
                    <a href="#">Zero to One</a>
                 </div>      
              </div>
          </div>
          <div class="col col-lg-3">
              <div class="card index-element">
                 <img src="https://images-na.ssl-images-amazon.com/images/I/81AIjjgh5OL.jpg" alt="">
                 <div class="text-title">
                    <a href="#">Hit refresh</a>
                 </div>      
              </div>
          </div>
          <div class="col col-lg-3">
              <div class="card index-element">
                 <img src="https://images-na.ssl-images-amazon.com/images/I/71edc+oKVhL.jpg" alt="">
                 <div class="text-title">
                    <a href="#">Think & Grow Rich</a>
                 </div>      
              </div>
          </div>
          <div class="col col-lg-3">
              <div class="card index-element">
                 <img src="https://images-na.ssl-images-amazon.com/images/I/9135vOnpvvL.jpg" alt="">
                 <div class="text-title">
                    <a href="#">The Martian</a>
                 </div>      
              </div>
          </div> -->
    </div>
    <a href="/new" class="btn btn-lg btn-outline-primary addNew-btn">+ Add more..</a>
</div>
<%- await include("./views/partials/footer.ejs") %>