<%- await include("./views/partials/header.ejs", { user: user}) %>
    <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card content-wrapper">
                        <h1><%= book.name %></h1>

                        <h5>Description</h5>
                        <p><%= book.description %></p>
                    </div>
                    <div class="card text-black bg-default mb-3">
                        <div class="card-header">Reviews</div>
                    </div>
                    <div class="card comment">
                        <div class="card-body">
                            <h6 class="card-title">Nishant</h6>
                            <p class="card-text">Best book i've ever read</p>
                          </div>
                    </div>
                    <div class="card comment">
                        <div class="card-body">
                            <h6 class="card-title">Prathamesh</h6>
                            <p class="card-text">A genuine work of art!</p>
                          </div>
                    </div>
                    <div class="card comment">
                        <div class="card-body">
                            <h6 class="card-title">Shubham</h6>
                            <p class="card-text">Most Informative book that I've read</p>
                          </div>
                    </div>
                    <div class="card text-black bg-default mb-3">
                        <div class="card-header">Add comment</div>
                    </div>
                    <!-- <div class="card"> -->
                        <div class="comment-form">
                            <form action='/books/<%=book._id["$oid"]%>/comment' method="POST">
                                <textarea name="comment[body]" id="comment-body" rows="4"></textarea>
                                <% if(user){ %>
                                    <button type="submit"><i class="fas fa-paper-plane"></i>  Send</button>
                                <% }else{ %>
                                    <button type="submit" disabled><i class="fas fa-paper-plane"></i>  Send</button>
                                    <p class="warning">*You need to login to comment on the post</p>
                                <% } %>
                            </form>
                        </div>

                    <!-- </div> -->
                </div>
                <div class="col-lg-4">
                    <div class="image-container card">
                        <img class="card-img-top" src="<%= book.image %>" alt="">
                        <p class="card-text">
                            <b>Author</b>: <%= book.author %>
                        </p>
                        <p class="card-text">
                            <b>Genre</b>: <%= book.genre %>
                        </p>
                        <p class="card-text">
                            <b>Number of pages</b>: <%= book.pageCount %>
                        </p>
                        <p class="card-text">
                            <b>Launch Year:</b><%= book.launchYear %>
                        </p>
                    </div>
                </div>
            </div>
    
    </div>


    <%- await include("./views/partials/footer.ejs") %>